
ion-list{
    margin-bottom: 11px;
    ion-item{
        margin-bottom: 7px;
        ion-thumbnail{
            margin-bottom: 13px;
            height: 72px;
            width: 82px;
            border-radius: 14px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
            img{
                border-radius: 14px;
            }
        }
        ion-label{
            h2{
                font-family: lato;
                font-size: 15px;
                font-weight: bold;
            }
            p{
                font-family: lato;
                font-size: 12px;
                color: black;
            }
        }
    }
    hr{
        height: 1px;
        border: 0;
        border-top: 1px solid #707070;
        width: 334px;
        margin: 0 auto;
    }
}