<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="close-outline"></ion-icon>
          </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="txt-des">
    <ion-text class="head-clt">
      Why “EN 3000” Is The <br /> 
      Key To Fast Fluency!
    </ion-text>
    <hr />
    <ion-text class="des-clt">
      <h5>
        The traditional language learning methods that are taught usually focus on the “more is better approach”.
      </h5>
      <h5>
        Studying as many words as you can, every possible conjugation and all it’s seemingly endless irregulars!
      </h5>
      <h5>
        With little to no regard for the actual goal…
      </h5>
    </ion-text>
    <img src="../../../../assets/img/misser-1.png" />
    <ion-text class="des-clt">
      <h5>
        Which can leave you confused, not hitting your target fluency goals and feeling like…”It will take me years to learn all this!”
      </h5>
      <h5>
        And for most of us, the goal is real conversations, with real people, in the real world… right?
      </h5>
      <h5 class="bold">
        But did you know?  That you actually only need a vocabulary of 3000 words to speak completely fluently in 94% of real-life situations!
      </h5>  
      <h5>
        A study conducted by Brigham Young University, USA has <span class="bold">scientifically proven</span> by analyzing 20,000,000 Spanish words…
      </h5>        
      <h5>
        That if you concentrate on learning the 3000 most commonly used words…
      </h5>
      <h5>
        You can communicate <span class="bold">completely fluently</span> in 94% of real-life situations!
      </h5> 
      <h5>
        In fact, according to the research even with a smaller goal of only the top 1000 words, you can communicate completely fluently in 87.8% of real-life situations.
      </h5>  
      <h5>
        But if you are here and reading this, you’re serious about getting as fluent as you can!
      </h5>
      <h5>
        Given that the average native English speaker knows between 20,000 and 50,000 words…
      </h5>
      <h5>
        I feel that the goal of only 3000 words in Spanish is very achievable for us! And it makes a lot of sense to me to be concentrating on stuff like this and not worrying too much about the textbook vocabulary…
      </h5>  
      <h5>
        That’s why we’re called Español en 3000!
      </h5>  
      <h5>
        Where it makes sense and it’s practical we base everything we produce on these 3000 most common words.
      </h5>  
      <h5>
        We do that by principally basing all the resources on real-life native conversations. There’s no scripting or dumbing down for language learners.
      </h5>  
      <h5>
        But we also consider the “EN 3000” more of a philosophy that all Spanish learners should live by during their journey to complete fluency.
      </h5>  
      <h5>
        Concentrate on the most commonly used stuff and don’t waste time on what you don’t need.
      </h5>  
      <h5>
        Because you are always going to come across words, phrases, and expressions that are not in the top 3000.
      </h5>  
      <h5>
        So concentrating on the most commonly used vocabulary, verb tenses, and conjugations for you, your personal situation and the locations you want to use your Spanish is always the best approach.
      </h5>  
      <h5>
        To make maximum progress in the shortest amount of time!
      </h5>  
      <h5 class="mrg-t">
        Which is what it’s all about, right?
      </h5>  
    </ion-text>
  </div>
</ion-content>